.modal {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  background:  white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0,0,0,.6);
}

.modal-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -25px;
  top: -25px;
  border-radius: 50%;
  border: none;
  background: #171c30;
  color: white;
  cursor: pointer;
}

.modal-close:after {
  content: "X";
  font-weight: bold;
  font-size: 25px;
}